body {
    /* O dvh se adapta dinamicamente quando a barra do celular aparece ou some */
    height: 100dvh; 
    
    background-color: rgb(224, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
}

#home {
    background-color: rgb(253, 108, 108);
    width: 400px;
    padding: 20px;
    border-radius: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#home h1 {
    font-family: 'Press Start 2P', monospace; /* Aplica a fonte Pixel Art */
    font-size: 3.1rem;      /* Tamanho ajustado para fontes pixeladas */
    color: #ffcb05;         /* Amarelo clássico do logo do Pokémon */
    text-shadow: 
        2px 2px 0px #3b4cca, /* Sombra azul clássica do logo */
        -1px -1px 0px #3b4cca,
        1px -1px 0px #3b4cca,
        -1px 1px 0px #3b4cca;
    text-align: center;
    margin: 10px 0;
    letter-spacing: -1px;   /* Junta um pouquinho as letras para dar estilo */
}
/* ========================================================
   NOVO: Container que junta a Imagem da Pokédex e o Pokémon
   ======================================================== */
.pokedex-container {
    position: relative; /* Isso cria a "âncora" para o posicionamento absoluto */
    width: 300px;       /* Mesma largura que você definiu para a imagem */
    height: auto;
}

/* Alterado de ID para classe/tag para herdar o tamanho do container */
#dex-img {
    width: 100%;
    display: block;
    border-radius: 50px;
}

/* ========================================================
   NOVO: Caixa onde o JavaScript joga o Pokémon (Fica por cima)
   ======================================================== */
#resultado-pokemon {
    position: absolute;
    
    /* Aumentei de 45% para 55% para descer mais o Pokémon */
    top: 75%;    
    left: 50%;   
    transform: translate(-50%, -50%); /* Mantém centralizado enquanto desce */
    
    text-align: center;
    width: 70%;  
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo do Nome do Pokémon dentro da tela da Pokédex */
#resultado-pokemon h2 {
    font-size: 1rem;
    margin: 0 0 5px 0;
    color: #000; /* Defina a cor que contraste melhor com a tela do seu desenho */
}

/* Estilo da Foto do Pokémon dentro da tela da Pokédex */
.pokemon-foto {
    max-width: 90px; /* Ajuste se o Pokémon ficar muito grande ou pequeno na tela */
    height: auto;
}

/* ======================================================== */

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.search input {
    padding: 8px;
    width: 200px;
    border-radius: 50px;
    border: none;
    outline: none;
}

.search button {
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    transition: background 0.2s;
}

.search button:hover {
    background-color: #e0e0e0;
}
