body {
    height: 100dvh; 
    background-color: rgb(224, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
}

#home {
    background-color: rgb(253, 108, 108);
    width: 400px;
    padding: 20px;
    border-radius: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#home h1 {
    font-family: 'Press Start 2P', monospace; 
    font-size: 1.1rem; /* Corrigido de 3.1rem para 1.1rem para caber no layout */
    color: #ffcb05;         
    text-shadow: 
        2px 2px 0px #3b4cca, 
        -1px -1px 0px #3b4cca,
        1px -1px 0px #3b4cca,
        -1px 1px 0px #3b4cca;
    text-align: center;
    margin: 10px 0;
    letter-spacing: -1px;   
}

.pokedex-container {
    position: relative; 
    width: 300px;       
    height: auto;
}

#dex-img {
    width: 100%;
    display: block;
    border-radius: 50px;
}

#resultado-pokemon {
    position: absolute;
    top: 75%;    
    left: 50%;   
    transform: translate(-50%, -50%); 
    text-align: center;
    width: 70%;  
    
    /* Configurações para comportar perfeitamente o background dinâmico do Pokémon */
    height: 45%; 
    border-radius: 15px;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pokemon-foto {
    max-width: 90px; 
    height: auto;
    margin-bottom: 5px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.search input {
    padding: 8px;
    width: 200px;
    border-radius: 50px;
    border: none;
    outline: none;
}

.search button {
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    transition: background 0.2s;
}

.search button:hover {
    background-color: #e0e0e0;
}
